<!-- navbar -->
<div class="container p-3">
  <nav class="shadow navbar navbar-expand navbar navbar-dark bg-secondary rounded">
    <a class="navbar-brand" href="#">&nbsp;&nbsp; simple-bills</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul ngbNav class="navbar-nav">
        <li class="nav-item" [ngbNavItem]="1">
          <a class="nav-link" ngbNavLink routerLink="/home">home</a>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a class="nav-link" ngbNavLink routerLink="/bills">bills</a>
        </li>
        <li class="nav-item" [ngbNavItem]="3">
          <a class="nav-link" ngbNavLink routerLink="/contact">contact</a>
        </li>
        <li ngbDropdown class="nav-item" [ngbNavItem]="4">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Separated link</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
