<p>bills works!</p>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
    <th scope="col" sortable="amount" (sort)="onSort($event)">Amount</th>
    <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
    <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>

  </tr>
  </thead>
  <tbody *ngIf="bills$ | async as bills else noData">
  <tr *ngFor="let bill of bills; index as i">
    <th scope="row">{{ bill.billNumber}}</th>
    <td>{{ bill.date | date }}</td>
    <td>{{ bill.amount | number }}</td>
    <td>{{ bill.description }}</td>
    <td>{{ bill.category }}</td>

  </tr>
  </tbody>
</table>


<ng-template #noData>No Data Available</ng-template>
